@import 'fonts.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none !important;
    text-decoration: none !important;
}

body {
    font-family: var(--NSR);
}

:root {
    --NSR: 'NotoSans-Regular';
}

.navbar {
    width: 100%;
    padding: 15px 0;
    background: rgba(49, 49, 49, 1);

}

.header__search {
    display: flex;
}

.search__icon {
    margin-right: 8px;
}

.nav-link {
    padding: 0;
    transition: none;
    text-transform: capitalize;
}

.nav-link:focus,
.nav-link:hover {
    color: #FFFFFF;
}

.dropdown-item {
    text-transform: capitalize;
}

.dropdown-list::after {
    content: '';
    display: block;
    width: 90%;
    margin: 0 auto;
    height: 1px;
    background: #C4C4C4;

}

.header__nav-img {
    margin-right: 143px;
}

.header__nav-link {
    font-size: 15px;
    color: #FFFFFF;
    font-family: 'NotoSans-Regular';
}

/* HIDDEN LINKS START */

.header__hidden {
    display: flex;
    background: #FFFFFF;
    padding: 18px 10px 17px 20px;
}

.dropdown-menu {
    padding: 0;
}

.header__menu .dropdown-menu::before{
    content: '';
    display: block;
    margin: 0 auto;
    width: 80%;
    height: 3px;
    background: #313131;
}

.header__menu .dropdown-toggle:after {
    content: none;
}

.header__hidden-cellph {
    padding-left: 0;
}

.header__hidden-title {
    font-size: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #313131;
}

.header__hidden-link {
    font-weight: 300;
    font-size: 16px;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;

    color: #313131;
}


.bg-light {
    background-color: #FFFFFF !important;
}


/* HIDDEN LINKS END */


.header__nav-link:hover {
    color: #FFFFFF;
}

.phone::before {
    content: '\f879';
    margin-right: 7.5px;
}

.header__nav-links {
    display: flex;
    margin-bottom: 0;
}

.header__nav-num {
    display: flex;
    flex-direction: row-reverse;
    color: #FFFFFF;
    margin-right: 35px;
}

.sign_in::before {
    content: '\f406';
    margin-right: 7.5px;
}

.cart::before {
    content: '\f07a';
    margin-right: 7.5px;
}

.navbar__box {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}


.header__toggler {
    font-size: 30px;
    color: #FFFFFF;
}

.header__toggler::before {
    content: '\f0c9';
}


.navbar-collapse {
    justify-content: flex-end;
}

.dropdown-toggle {
    color: #FFFFFF;
    margin-right: 80px;
}

.dropdown-toggle:hover {
    color: #FFFFFF;
}

.header__search {
    margin-top: 25px;
}

.header__nav-img {}

.form-control {
    width: 630px;
    outline: none;
}

.me-2 {
    margin-right: 0 !important;
}

.btn-outline-success {
    background: #313131;
    width: 190px;
    font-size: 14px;
    line-height: 19px;
    font-family: 'NotoSans-Regular';
    color: #FFFFFF;
    border-color: #313131;
    text-transform: uppercase;
}

.search__icon::before {
    content: '\f002';
}

.header__menu {
    align-items: center;
    display: flex !important;
    justify-content: center;
    margin-top: 10px;
}

.header__menu-link {
    font-family: 'NotoSans-Regular';
    font-size: 18px;
    /* line-height: 70px; */
    letter-spacing: 0.05em;
    color: #313131;
    text-transform: capitalize;
    margin: 0 20px;
}

.header__menu-link:hover {
    color: #313131;
}

.header__content-left {
    width: 50%;

}

.header__left-img {}

.header__content-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header__content-title {
    max-width: 624px;
    width: 100%;
    font-family: 'NotoSans-Regular';
    text-align: center;
    font-weight: 600;
    font-size: 48px;
    line-height: 70px;
    margin-bottom: 121px;
    text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
}

.header__content-btn {
    width: 190px;
    display: flex;
    justify-content: center;
    padding: 12px;
    background: #313131;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-family: 'NotoSans-Regular';
}

.header__content-btn:hover {
    color: #FFFFFF;
}

.carousel-indicators [data-bs-target] {
    background: #828282;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 50%;
}

.carousel-indicators [data-bs-target].active {
    background: #313131;

}



/* IPHONE_12PRO_MAX START */


.list-group-item {
    padding: 0;
}

.header__mobiles-link{
    display: flex;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.header__mobiles {
    margin-top: 50px;
    padding-left: 20px;
}

.header__mobiles-img{
    max-width: 410px;
    width: 100%;
    max-height: 410px;
    height: 100%;
}

.header__mobiles-right {
    margin-left: 31px;
}

.header__mobiles-title {
    font-weight: 600;
    font-size: 30px;
    line-height: 50px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    font-family: var(--NSR);
}

.header__mobiles-title2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 70px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
}

.header__mobiles-price {
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    letter-spacing: 0.05em;
    color: #000000;
    font-family: var(--NSR);
    margin-bottom: 0;
    margin-top: 35px;
}

.header__mobiles-characteristics {
    display: flex;
    flex-direction: column;
}

.header__mobiles-characteristic {
    display: flex;
    align-items: flex-start;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;
    /* font-family: var(--NSR); */
    color: #000000;
}

.header__mobiles-characteristic::before {
    content: '';
    width: 7px;
    height: 7px;
    background: #313131;
    margin-right: 15px;
    border-radius: 50%;
    margin-top: 8px;

}

.list-group-item {
    border: none;
}

.main__iphone12 {
    margin-top: 40px;
}

.main__iphone12-item {
    position: relative;
    width: 100%;
}

.main__iphone12-img {
    width: 100%;
}

.main__iphone12-content {
    position: absolute;
    top: 0;
    right: 0;
    justify-content: center;
}

.main__iphone12-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    text-align: center;

    color: #313131;
}

.main__iphone12-description {
    max-width: 454px;
    width: 100%;
    font-size: 24px;
    line-height: 33px;
    margin-left: 190px;
    margin-top: 40px;
    color: #313131;
    text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
}

.main__iphone12-link {
    display: flex;
    width: 190px;
    padding: 12px;
    justify-content: center;
    background: #313131;
    color: #FFFFFF;
    margin-top: 116px;
    margin-left: 290px;
    text-transform: uppercase;
}

.main__iphone12-link:hover {
    color: #FFFFFF;
}

.header__mobiles-buttons{
    display: flex;
    margin-top: 30px;
}

.header__mobiles-btn{
    width: 190px;
    display: flex;
    justify-content: center;
    padding: 12px;
    color: #FFFFFF;
    background: #313131;
    text-transform: uppercase;
    border: 1px solid #FFFFFF;
}

.header__mobiles-btn:hover{
    color: #FFFFFF;
}

.header__mobiles-buttons .header__mobiles-btn:nth-of-type(1){
    margin-right: 30px;
}

.mobiles-icon::before{
    content: '\f07a';
    color: #FFFFFF;
    font-size: 15px;
    margin-right: 10px;
}






/* IPHONE_12PRO_MAX END */




/* MAIN START */

.main {
    margin-top: 50px;
}

.main__discounts-items {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 30px;
}

.main__discounts-item {
    position: relative;

}

.main__discounts-item:nth-of-type(1) {
    grid-column: span 2;
    grid-row: span 2;
}

.main__discounts-item:nth-of-type(2) {
    grid-column: span 2;
    grid-row: span 1;
}

.main__discounts-item:nth-of-type(3) {
    grid-column: span 1;
    grid-row: span 1;
}

.main__discounts-item:nth-of-type(4) {
    grid-column: span 1;
    grid-row: span 1;
}


.main__discounts-img {
    filter: drop-shadow(-10px 5px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    height: 100%;
}

.main__discounts-content {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: #F2F2F2;
    z-index: -1;
    padding: 20px 0 20px 20px;
    /* flex-grow: 1; */
}

.airpods {
    background: none;
    z-index: 99;
}

.main__discounts-img1 {
    z-index: -1;
    height: 100%;
    width: 100%;
}

.main__discounts-percent {
    display: flex;
    border-radius: 50%;
    background: #313131;
    color: #FFFFFF;
    font-size: 20px;
    line-height: 70px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    font-family: 'NotoSans-Regular';
    width: 70px;
    justify-content: center;
    z-index: 99;
}

.main__discounts-title {
    z-index: 99;
}

.main__discounts-price {
    z-index: 99;
}

.powerbank {
    order: 1;
}

.main__btn {
    width: 190px;
    display: flex;
    justify-content: center;
    padding: 12px;
    background: #313131;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-family: 'NotoSans-Regular';
    margin: 0 auto;
}

.main__btn:hover {
    color: #FFFFFF;
}


.main__sellphones {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.main__sellphones-title {
    display: flex;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #313131;
    text-transform: capitalize;
}

.main__sellphones-title:hover {
    color: #313131;
}

.main__sellphones-items {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
}

.main__sellphones-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main__sellphones-img {}

.main__sellphones-content {
    position: absolute;
    bottom: 0;
}

.main__sellphones-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #313131;
    max-width: 259px;
    width: 100%;
    display: flex;
}

.main__sellphones-description:hover {
    color: #313131;
}

.main__sellphones-price {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #313131;
}

/* ------------------------------- */

.main__comps {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.main__comps-title {
    display: flex;
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #313131;
    text-transform: capitalize;
}

.main__comps-title:hover {
    color: #313131;
}

.main__comps-items {
    display: flex;
    margin-bottom: 60px;
}

.main__comps-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.main__comps-item:nth-of-type(4) {
    margin-right: 0;
}

.main__comps-img {
    max-width: 270px;
}

.main__comps-content {
    position: absolute;
    bottom: 0;
}

.main__comps-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #313131;
}

.main__comps-description:hover {
    color: #313131;
}

.main__comps-price {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #313131;
}


.main__playstation {
    margin-top: 70px;
}

.main__playstation-box {
    position: relative;
}

.main__playstation-img {
    content: url('../images/playstation5.png');
    max-width: 1290px;
    width: 100%;
}

.main__playstation-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.main__playstation-logo {
    margin-top: 94px;
    margin-bottom: 20px;
}

.main__playstation-title {
    margin-bottom: 70px;
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #313131;
    max-width: 520px;
    text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
}

.pl_5 {
    margin: 0;
}

/* --------------------------- */

.main__bestsels {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

.main__bestsels-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #313131;
    text-transform: capitalize;
}

.main__bestsels-title:hover {
    color: #313131;
}

.main__bestsels-items {
    display: flex;
    margin-bottom: 60px;
    justify-content: center;
    flex-direction: row;
}

.main__bestsels-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

.main__bestsels-item:nth-of-type(4) {
    margin-right: 0;
}

.main__bestsels-content {
    position: absolute;
    bottom: 0;
}

.main__bestsels-description {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #313131;
}

.main__bestsels-description:hover {
    color: #313131;
}

.main__bestsels-price {
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #313131;
}


/* SMARTPHONES START */

.main__xbox {
    margin-top: 70px;
}

.main__xbox-item {
    position: relative;
}

.main__xbox-img {
    max-width: min-content;
    width: 100%;
}

.main__xbox-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0 20px 20px;
}

.main__xbox-title {
    font-weight: 600;
    font-size: 48px;
    line-height: 65px;
    color: #313131;
    text-transform: capitalize;
    text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
}

.main__xboxdescription {
    font-size: 24px;
    line-height: 33px;
    color: #313131;
    max-width: 454px;
    width: 100%;
    text-shadow: 0px 1px 0 white, 0px -1px 0 white, 1px 0px 0 white, -1px 0px 0 white, 1px 1px 0 white, 1px -1px 0 white, -1px 1px 0 white, -1px -1px 0 white;
}

.main__xbox-link {
    display: flex;
    width: 190px;
    padding: 13px 0;
    justify-content: center;
    background: #313131;
    color: #FFFFFF;
    text-transform: uppercase;
}

.main__xbox-link:hover {
    color: #FFFFFF;
}

.main__xbox-lists {
    margin: 0 auto;
    width: 232px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.main__xbox-lists .main__xbox-list:nth-of-type(1){
    color: #000000;
}

.main__xbox-lists:nth-of-type(1) .main__xbox-list:hover{
    color: #000000;
}

.main__xbox-list {
    display: flex;
    text-transform: uppercase;
    color: #ABABAB;
    font-size: 30px;
    line-height: 41px;
}

.main__xbox-next {
    display: flex;
    text-transform: uppercase;
    color: #ABABAB;
    font-size: 30px;
    line-height: 41px;
    align-items: center;
}

.main__xbox-next:hover {
    color: #ABABAB;
}

.next-icon:after {
    content: '\f324';
    font-size: 20px;
    margin-left: 12px;
}


.main__xbox-list:hover {
    color: #ABABAB;
}

.main__xbox-list:after {
    content: '';
    display: block;
    width: 2px;
    height: 35px;
    background: #ABABAB;
    margin: auto 10px;
}

.main__xbox-line {
    width: 100%;
    height: 195px;
    background-color: #E3E3E3;
    z-index: -1;
    margin-top: -195.7px;
    margin-bottom: 50px;
}


/* SMARTPHONES END */






/* MAIN END */


/* FOOTER START */


.footer {
    background: #313131;
    padding-top: 30px;
    padding-bottom: 45px;
}

.footer__info-logo {}

.footer__info-img {}

.footer__form-box {
    max-width: 520px;
    width: 100%;
}

.footer__form-description {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 0;
    color: #FFFFFF;
    margin-bottom: 5px;
}

.footer__form {
    border: 1px solid white;
    outline: none;
    max-width: 520px;
    width: 100%;
}

.footer__info-input {
    max-width: 330px;
    width: 100%;
    padding-left: 10px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__info-btn {
    font-size: 18px;
    line-height: 25px;
    /* padding: 12px 59px; */
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    width: 55%;
    justify-content: center;
    align-items: center;
}

.footer__info-btn:hover {
    color: #FFFFFF;
}

.footer__form-link {
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-right: 30px;
    font-family: 'NotoSans-Regular';
    display: flex;
    width: 80px;
    justify-content: center;
}

.footer__form-link:hover {
    color: #FFFFFF;
}

.footer__icon-tg {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 36px;
    margin-right: 24px;
}

.footer__icon-tg:hover {
    color: #FFFFFF;
}

.footer__icon-tg::before {
    content: '\f1d8';
}

.footer__icon-facebook {
    color: #FFFFFF;
    font-size: 40px;
    margin-right: 26px;
}

.footer__icon-facebook:hover {
    color: #FFFFFF;
}

.footer__icon-facebook::before {
    content: '\f09a';
}

.footer__icon-insta {
    color: #FFFFFF;
    font-size: 40px;
}

.footer__icon-insta:hover {
    color: #FFFFFF;
}

.footer__icon-insta::before {
    content: '\f16d';
}




/* FOOTER END */